---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Sting&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Sting&offset=0&limit=20&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/0Ty63ceoRnnJKVEYP0VQpk"
              },
              "followers" : {
                "href" : null,
                "total" : 445571
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/0Ty63ceoRnnJKVEYP0VQpk",
              "id" : "0Ty63ceoRnnJKVEYP0VQpk",
              "images" : [ {
                "height" : 546,
                "url" : "https://i.scdn.co/image/4a739143ea298c80b9401b96a7404575a075cf36",
                "width" : 500
              }, {
                "height" : 218,
                "url" : "https://i.scdn.co/image/79ce9b529ca3c1cd157d48e9952b3c1744ece95f",
                "width" : 200
              }, {
                "height" : 70,
                "url" : "https://i.scdn.co/image/9b47245198bf403e2f644f809e261ef73e8ca6dc",
                "width" : 64
              } ],
              "name" : "Sting",
              "popularity" : 69,
              "type" : "artist",
              "uri" : "spotify:artist:0Ty63ceoRnnJKVEYP0VQpk"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/5e8e4l6G9xt5BqjbDJocZF"
              },
              "followers" : {
                "href" : null,
                "total" : 284
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/5e8e4l6G9xt5BqjbDJocZF",
              "id" : "5e8e4l6G9xt5BqjbDJocZF",
     [...]
- request:
    method: get
    uri: http://api.bandsintown.com/artists/Sting/events/search.json?api_version=2.0&app_id=making_the_band&location=39.7392,%20-104.9903&radius=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b618cdbdbb8e84664e288c4a9e22bd37"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11253417,"title":"Sting @ Pepsi Center in Denver, CO","datetime":"2016-07-12T20:00:00","formatted_datetime":"Tuesday, July 12, 2016 at 8:00PM","formatted_location":"Denver, CO","ticket_url":"http://www.bandsintown.com/event/11253417/buy_tickets?app_id=making_the_band\u0026artist=Sting\u0026came_from=67","ticket_type":"Tickets","ticket_status":"available","on_sale_datetime":"2016-01-20T18:18:00","facebook_rsvp_url":"http://www.bandsintown.com/event/11253417?app_id=making_the_band\u0026artist=Sting\u0026came_from=67","description":"Two of music\u2019s most iconic artists \u2013 Sting and Peter Gabriel - will unite this summer for a once in a lifetime concert tour. Having first toured together in the eighties for Amnesty International, Rock Paper Scissors will find Peter Gabriel and Sting performing both separately and together, playing their own songs as well as melding their bands to explore each other\u2019s most celebrated hits.","artists":[{"name":"Sting","mbid":"7944ed53-2a58-4035-9b93-140a71e41c34","image_url":"https://s3.amazonaws.com/bit-photos/large/5838728.jpeg","thumb_url":"https://s3.amazonaws.com/bit-photos/thumb/5838728.jpeg","facebook_tour_dates_url":"http://www.bandsintown.com/Sting/facebookapp?came_from=67","facebook_page_url":"https://www.facebook.com/sting","tracker_count":446173,"url":"Sting","website":"http://www.sting.com"}],"venue":{"name":"Pepsi Center","place":"Pepsi Center","city":"Denver","region":"CO","country":"United States","latitude":39.74894,"longitude":-105.007643}}]
  recorded_at: Thu, 28 Apr 2016 15:57:17 GMT
recorded_with: VCR 3.0.1
