<div class="current-user-home-hero-unit">
  <div class="welcome-unit text-center">
    <div class="row">
      <h1>Welcome <%= current_user.name %></h1>
      <%= link_to image_tag("logout.png", class:"logout-icon"), logout_path, method: :delete, id:"logout" %>
    </div>
  </div>
</div>
