h1, h2, h3 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;

}

h3 {
    color: #fff;
    font-size: 110%;
    margin-bottom: 15px;
}

.hero-unit {
  background-image:url('https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca5701e0f1e03876b6bd3477a2390f7f');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100%;
  position: fixed;
}

// .carousel-inner {
//   height: 100%;
// }
// // html,body{height:100%;}
// // .carousel-inner img {
// //   height: 100%;
// //   width: auto;
// // }
.carousel-caption {
  margin-bottom: 20%;
}
html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.current-user-home-hero-unit {
  background-image:url('https://images.unsplash.com/17/unsplash_5252bb51404f8_1.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f875778fd4151046302dc3695a48b4bd');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100%;
  margin-top: -135px;
  position: fixed;
}


.login-button img {
  width: 300px;
  height: auto;
}

.welcome-unit {
  margin-top: 350px;
}

.logout-icon {
  width: 50px;
  height: auto;
}
