.show-table-background {
  background-image:url('https://images.unsplash.com/photo-1444990689320-bd2a7a839644?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4c7cfe1fefafc94b44fc477725ab1ca3');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100%;
  margin-top: -135px;
  position: absolute;;
}

.show-artist {
  font-size: 1.75em;
  color: black;
}

.show-date {
  font-size: 1.75em;
  color: black;
}
.ticket {
  width: 45px;
  height: auto;
}

.facebook {
  width: 45px;
  height: auto;
}

.show-venue {
  font-size: 1.75em;
  color: black;
}

.show-location {
  font-size: 1.75em;
  color: black;
}

.shows-table {
  margin-top: 120px;
}

table {
        width: 100%;
    }


thead.shows, tbody.shows-body, tr.shows, td.shows, th.shows { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 50px;
    /*text-align: left;*/
}

tbody {
    height: 500px;
    overflow-y: auto;
}

thead {
  /* fallback */
}

tbody td.show-date, thead th.show-date {
  width: 6%;
  float: left;
}
tbody td.show-artist, thead th.show-artist {
  width: 25%;
  float: left;
}

tbody td.show-venue, thead th.show-venue {
  width: 35%;
  float: left;
}
tbody td.show-location, thead th.show-location {
  width: 20%;
  float: left;
}
tbody td.show-tickets, thead th.show-tickets {
  width: 7%;
  float: left;
}
tbody td.show-rsvp, thead th.show-rsvp {
  width: 7%;
  float: left;
}
