.show-table-background {
  background-image:
  image-url('backgrounds/concert2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100%;
  margin-top: -135px;
  position: absolute;
}

.show-artist {
  font-size: 1.75em;
  color: white;
}

.show-date {
  font-size: 1.75em;
  color: white;
}
.ticket {
  width: 45px;
  height: auto;
}

.facebook {
  width: 45px;
  height: auto;
}

.show-venue {
  font-size: 1.75em;
  color: white;
}

.show-location {
  font-size: 1.75em;
  color: white;
}

.shows-table {
  margin-top: 120px;
}

table.shows-table {
        width: 100%;
    }


thead.shows, tbody.shows-body, tr.shows, td.shows, th.shows { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 50px;
    /*text-align: left;*/
}

tbody.shows-table {
    height: 700px;
    overflow-y: auto;
}

.modal {
  margin-top: 80px;
  height: 80%;
  overflow-y: auto;
}

thead {
  /* fallback */
}

.shows-body {
  background-color: rgba(0,0,0, .4);
}
tbody td.show-date, thead th.show-date {
  width: 6%;
  float: left;
}
tbody td.show-artist, thead th.show-artist {
  width: 25%;
  float: left;
}

tbody td.show-venue, thead th.show-venue {
  width: 35%;
  float: left;
}
tbody td.show-location, thead th.show-location {
  width: 20%;
  float: left;
}
tbody td.show-tickets, thead th.show-tickets {
  width: 7%;
  float: left;
}
tbody td.show-rsvp, thead th.show-rsvp {
  width: 7%;
  float: left;
}
